.chinaWrapper {
  width: 900px;
  height: 456px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #0a1730;
  display: flex;
  flex-wrap: wrap;
  .head {
    width: 868px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .chinaCity {
      width: 80px;
      height: 16px;
      line-height: 16px;
      color: #8fafd6;
      font-size: 12px;
      transform: scale(0.917); /* 12 * 0.917 ≈ 11px */
      transform-origin: left center;
      margin-left: 10px;
    }
    .chinaCity::before {
      display: inline-block;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #22d3ee;
      margin: 0 3px;
    }
  }
  .mapWrapper {
    width: 520px;
    height: 364px;
  }
  .topWrapper {
    width: 344px;
    height: 374px;
  }
}
